<nav class="nav-menu">
    <ul>
        <li>
            <a href="#" data-route="home" class="active">
                <i class="bi bi-house-door"></i> Home
            </a>
        </li>
        <li>
            <a href="#" data-route="dashboard">
                <i class="bi bi-cloud"></i> Dashboard
            </a>
        </li>
        <li>
            <a href="#" data-route="cloud-projects">
                <i class="bi bi-cloud"></i> Cloud Projects
            </a>
        </li>
        <li>
            <a href="#" data-route="pipeline">
                <i class="bi bi-building"></i> Pipeline
            </a>
        </li>
        <li>
            <a href="#" data-route="ai-automation">
                <i class="bi bi-robot"></i> AI & Automation
            </a>
        </li>
        <li>
            <a href="#" data-route="devtools">
                <i class="bi bi-journal-text"></i> Dev Tools
            </a>
        </li>
        <li>
            <a href="../../../wiki/index.html" data-route="wiki">
                <i class="bi bi-journal-text"></i> Wiki
            </a>
        </li>
    </ul>
</nav>
