<nav class="navbar">
    <div class="container">
        <a href="index.html" class="logo">🔬 Ophelia Labs</a>
        <button class="hamburger" id="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <ul class="nav-links" id="navLinks">
            <li class="nav-item dropdown">
                <button class="dropdown-toggle">Implant</button>
                <ul class="dropdown-menu">
                    <li><a href="#Implant">Index</a></li>
                    <li><a href="#Implant-Index2">Index2</a></li>
                    <li><a href="#Implant-Index3">Index3</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <button class="dropdown-toggle">Informatics</button>
                <ul class="dropdown-menu">
                    <li><a href="#Informatics">Index</a></li>
                    <li><a href="#Informatics-Index2">Index2</a></li>
                    <li><a href="#Informatics-Index3">Index3</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <button class="dropdown-toggle">Curtain</button>
                <ul class="dropdown-menu">
                    <li><a href="#Curtain">Index</a></li>
                    <li><a href="#Curtain-Index2">Index2</a></li>
                    <li><a href="#Curtain-Index3">Index3</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <button class="dropdown-toggle">Comm</button>
                <ul class="dropdown-menu">
                    <li><a href="#Comm">Index</a></li>
                    <li><a href="#Comm-Index2">Index2</a></li>
                    <li><a href="#Comm-Index3">Index3</a></li>
                </ul>
            </li>
            <li class="nav-item search-item">
                <input type="text" placeholder="Search...">
            </li>
        </ul>
    </div>
</nav>
